{% extends "frontend/base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <!-- Detail Start -->
    <div class="container-fluid pt-5">
        <div class="container pt-5">
            <div class="row">

                <div class="col-lg-8 mb-5">
                    <h1 class="display-4 text-uppercase mb-5">Datenschutzerklärung</h1>
                    <h2>Allgemeiner Hinweis und Pflichtinformationen</h2>
                    <p><b>Benennung der verantwortlichen Stelle</b></p>
                    <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
                </div>

                <div class="col-lg-4 mb-5">
                    <div class="bg-light p-5">
                        <h3 class="text-middle text-center mb-4">Inhalt</h3>
                        <ul>
                            <li><a href="">Impressum</a></li>
                            <li><a href="">Datenschutz</a></li>
                            <li><a href="">Netiquette</a></li>
                            <li><a href="">Beitrag Regeln</a></li>
                            <li><a href="">Kontakt</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Detail End -->
{% endblock %}
